@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bangers&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Danfo&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tiny5&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

#container{
    height: 100vh;
    width: 100vw;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;

}

#photo{
    height: 350px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 5px hsl(213, 13%, 64%);
}

#written-content{
    height: 350px;
    width: 500px;
    margin-top: -5px;
    margin-left: -95px;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;  
    box-shadow: 0px 5px hsl(213, 13%, 64%);
}

#main-head{
    font-size: 23px;
    padding: 40px  45px;
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

#para{
    font-size: 15px;
    padding-left: 55px;
    padding-right: 45px;
    margin-left: -8.5px;
    margin-top: -20px;
    margin-bottom: 35px;
    color: hsl(214, 17%, 51%);
    font-weight: 500;
}

#profile-div{
    display: flex;
    justify-content: left;
    align-items: center;
}

#profile-pic{
    height: 50px;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 25px;
}

#name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#name h3{
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

#name p{
    color: hsl(214, 17%, 51%);
    font-weight: 500;
}

#share-button{
    height: max-content;
    width: max-content;
    margin-top: 10px;
    margin-left: 125px;
    border-radius: 50%;
    border: none;
}

#icon-share{
    height: 35px;
    width: 35px;
    padding: 5px;
}

#share-button:focus{
    background-color:hsl(217, 19%, 35%);
}

#icon-share:focus{
    color: white;
}

/* ========================================================================================================================================================================================== */

.share-wrapper {
    position: relative;
    display: inline-block;
}

.sharediv{
    height: 75px;
    width: 295px;
    background-color: hsl(217, 19%, 35%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    letter-spacing: 3px;
    color: white;
    margin-left: 290px;
    transform: translateY(-219%);
    border-radius: 15px;
}

.clouddiv::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 120px;
  transform: translateY(-430%);
  border-width: 20px;
  border-style: solid;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
 
}

.facebook, .x, .pinterest{
    height: 30px;
}

.sharepara{
    color: hsl(214, 17%, 51%);
    font-weight: 700;
}


@media(max-width:426px)
{
    #container{
        height: 110vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #photo{
        height: 300px;
        box-shadow: none;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    #written-content{
        height: 400px;
        width: 375px;
        margin-top: -5px;
        margin-left: 0px;
        box-shadow: none; 
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }

    #main-head{
    font-size: 20px;
    padding: 40px  30px;
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    }

    #para{
    font-size: 15px;
    padding-left: 40px;
    padding-right: 48px;
    margin-left: -8.5px;
    margin-top: -20px;
    margin-bottom: 35px;
    color: hsl(214, 17%, 51%);
    font-weight: 500;
    }




    
#profile-div{
    display: flex;
    flex: row;
    justify-content: left;
    align-items: center;
}

#profile-pic{
    height: 40px;
    border-radius: 50%;
    margin-left: 35px;
    margin-right: 25px;
}

#name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#name h3{
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    font-size: 16px;
}

#name p{
    color: hsl(214, 17%, 51%);
    font-weight: 500;
    font-size: 16px;
}

#share-button{
    height: max-content;
    width: max-content;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 50%;
    border: none;
}

#icon-share{
    height: 32.5px;
    width: 32.5px;
    padding: 5px;
}

.sharediv{
    height: 55px;
    width: 250px;
    background-color: hsl(217, 19%, 35%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    letter-spacing: 3px;
    color: white;
    margin-left: 125px;
    transform: translateY(-235%);
    border-radius: 15px;
}

.clouddiv::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 98.5px;
  transform: translateY(-325%);
  border-width: 20px;
  border-style: solid;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
 
}

.facebook, .x, .pinterest{
    height: 20px;
}

.sharepara{
    color: hsl(214, 17%, 51%);
    font-weight: 700;
    font-size: 17px;
}

}