@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Danfo&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Tiny5&family=Young+Serif&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Danfo&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Tiny5&family=Young+Serif&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 230vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);
}

#page{
height: 210vh;
width: 35vw;
background-color: white;
border-radius: 15px;
}

#oimg{
    height: 220px;
    border-radius: 15px;
    /* margin-left: 26px;
    margin-top: 26px; */
    margin: 30px;
}

#title{
    margin-left: 30px;
    margin-bottom: 10px;
    font-family: "Young Serif", serif;
    color: hsl(24, 5%, 18%);
    font-weight: 500;
}

#para{
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    text-align: justify;
    font-size: 16px;
    line-height: 21px;
    font-family: "Outfit", serif;
    font-weight: 500;
    color: hsl(30, 10%, 34%);
}

#prep{
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 30px;
    text-align: justify;
    /* font-size: 16px; */
    line-height: 21px; 
    font-family: "Young Serif", serif;
    color: hsl(332, 51%, 32%);
    font-weight: 500;
}
ul{
    margin-left: 60px;
    margin-bottom: 30px;
    margin-right: 30px;
    text-align: justify;
    font-size: 16px;
    line-height: 26px;
    font-family: "Outfit", serif;
    font-weight: 500;
}

#ing{
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 30px;
    text-align: justify;
    font-family: "Young Serif", serif;
    line-height: 21px; 
    color: hsl(14, 45%, 36%);
    font-weight: 500;
}

#ins{
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 30px;
    text-align: justify;
    line-height: 21px; 
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    font-weight: 500;
}

ol{
    margin-left: 60px;
    margin-bottom: 30px;
    margin-right: 30px;
    text-align: justify;
    font-size: 16px;
    line-height: 26px;   
    font-family: "Outfit", serif;
    font-weight: 500;
}

#nut{
    margin-left: 30px;
    margin-bottom: 15px;
    margin-right: 30px;
    text-align: justify;
    line-height: 21px;  
    font-family: "Young Serif", serif;  
    color: hsl(14, 45%, 36%);
    font-weight: 500;
}

#npara{
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    text-align: justify;
    font-size: 16px;
    line-height: 21px;   
    font-family: "Outfit", serif;
    font-weight: 500;
    color: hsl(30, 10%, 34%);
}

pre{
    margin-left: 65px;
    margin-bottom: 5px;
    margin-right: 30px;
    text-align: justify;
    font-size: 16px;
    line-height: 26px;  
    font-family: "Outfit", serif;
    font-weight: 600; 
    color: hsl(30, 10%, 34%);
}

hr{
    margin-left: 45px;
    /* margin-bottom: 30px; */
    margin-right: 30px;
    text-align: justify;
    font-size: 16px;
    line-height: 26px;  
    font-family: "Outfit", serif;   
}

strong{
    color: hsl(24, 5%, 18%);
}

span{
    color: hsl(14, 45%, 36%);
    font-weight: 900;
}

li{
    color: hsl(30, 10%, 34%);
    font-weight: 500;
}












@media (max-width:426px){

    body{
        box-sizing: border-box;
        height: 210vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: hsl(30, 54%, 90%); */
        background-color: white;
               
    }

    #page{
        height:210vh;
        width: 135vw;
        margin-left: 80px;
        background-color: white;
        border-radius: 0;
    }

    #oimg{
        height: 230px;
        border-radius: 0;
        margin: 40px;
        margin-left:50px;
        margin-top: 20px;
    }

    #title{
        margin-left: 50px;
        margin-bottom: 10px;
        font-family: "Young Serif", serif;
        color: hsl(24, 5%, 18%);
        font-weight: 500;
    }
    
    #para{
        margin-left: 50px;
        margin-bottom: 30px;
        margin-right: 30px;
        text-align: justify;
        font-size: 16px;
        line-height: 21px;
        font-family: "Outfit", serif;
        font-weight: 500;
        color: hsl(30, 10%, 34%);
    }
    
    #prep{
        margin-left: 50px;
        margin-bottom: 10px;
        margin-right: 30px;
        text-align: justify;
        /* font-size: 16px; */
        line-height: 21px; 
        font-family: "Young Serif", serif;
        color: hsl(332, 51%, 32%);
        font-weight: 500;
    }
    ul{
        margin-left: 60px;
        margin-bottom: 30px;
        margin-right: 30px;
        text-align: justify;
        font-size: 16px;
        line-height: 26px;
        font-family: "Outfit", serif;
        font-weight: 500;
    }
    
    #ing{
        margin-left: 50px;
        margin-bottom: 10px;
        margin-right: 30px;
        text-align: justify;
        font-family: "Young Serif", serif;
        line-height: 21px; 
        color: hsl(14, 45%, 36%);
        font-weight: 500;
    }
    
    #ins{
        margin-left: 50px;
        margin-bottom: 10px;
        margin-right: 30px;
        text-align: justify;
        line-height: 21px; 
        font-family: "Young Serif", serif;
        color: hsl(14, 45%, 36%);
        font-weight: 500;
    }
    
    ol{
        margin-left: 60px;
        margin-bottom: 30px;
        margin-right: 30px;
        text-align: justify;
        font-size: 16px;
        line-height: 26px;   
        font-family: "Outfit", serif;
        font-weight: 500;
    }
    
    #nut{
        margin-left: 50px;
        margin-bottom: 15px;
        margin-right: 30px;
        text-align: justify;
        line-height: 21px;  
        font-family: "Young Serif", serif;  
        color: hsl(14, 45%, 36%);
        font-weight: 500;
    }
    
    #npara{
        margin-left: 50px;
        margin-bottom: 30px;
        margin-right: 30px;
        text-align: justify;
        font-size: 16px;
        line-height: 21px;   
        font-family: "Outfit", serif;
        font-weight: 500;
        color: hsl(30, 10%, 34%);
    }
    
    pre{
        margin-left: 65px;
        margin-bottom: 5px;
        margin-right: 30px;
        text-align: justify;
        font-size: 16px;
        line-height: 26px;  
        font-family: "Outfit", serif;
        font-weight: 600; 
        color: hsl(30, 10%, 34%);
    }
    
    hr{
        margin-left: 45px;
        /* margin-bottom: 30px; */
        margin-right: 30px;
        text-align: justify;
        font-size: 16px;
        line-height: 26px;  
        font-family: "Outfit", serif;   
    }
    
    strong{
        color: hsl(24, 5%, 18%);
    }
    
    span{
        color: hsl(14, 45%, 36%);
        font-weight: 900;
    }
    
    li{
        color: hsl(30, 10%, 34%);
        font-weight: 500;
    }

}
