@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bangers&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Danfo&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tiny5&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

#container{
    height: 100vh;
    width: 100vw;
    background-image: url(./ASSETS/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(275, 100%, 97%);
}

#card{
    height: 65vh;
    width: 40vw;
    background-color: white;
    box-shadow: 2px 7px rgb(205, 197, 197);
    margin-top: 150px;
    border-radius: 15px;
}

#starfaq{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 45px 25px;
}

#star{
    margin-right: 25px;
}

#faqhead{
    font-size: 48px;
    font-weight: 700;
    color: hsl(292, 42%, 14%);
}

#faq-container{
    margin: 0px 35px;
    width: 45vw;
}

.faq-question{
    margin: 35px 0px;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: hsl(292, 42%, 14%);
}

.faq-question::after {
    content: url(./ASSETS/icon-plus.svg);
    position: absolute;
    top: -5px;
    right: 150px;
    font-size: 18px;
}

.faq-question.active::after {
    content: url(./ASSETS/icon-minus.svg);
}

.faq-answer{
    display: none;
    padding-right: 170px;
    font-size: 16px;
    opacity: 60%;
    font-weight: 400;
    color: hsl(292, 16%, 49%);
}

@media(max-width: 426px)
{
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bangers&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Danfo&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tiny5&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

#container{
    height: 100vh;
    width: 100vw;
    background-image: url(./ASSETS/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(275, 100%, 97%);
}

#card{
    height: 86vh;
    width: 90vw;
    background-color: white;
    box-shadow: 2px 7px rgb(205, 197, 197);
    margin-top: 75px;
    border-radius: 15px;
}

#starfaq{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 45px 25px;
}

#star{
    margin-right: 25px;
}

#faqhead{
    font-size: 36px;
    font-weight: 700;
    color: hsl(292, 42%, 14%);
}

.faq-question{
    margin: 30px 0px;
    margin-right: -30px;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: hsl(292, 42%, 14%);
}

.faq-question::after {
    content: url(./ASSETS/icon-plus.svg);
    position: absolute;
    right: -100px;
    font-size: 18px;
}

.faq-question.active::after {
    content: url(./ASSETS/icon-minus.svg);
}

.faq-answer{
    display: none;
    font-size: 16px;
    margin-right: -290px;
    opacity: 60%;
    font-weight: 400;
    color: hsl(292, 16%, 49%);
}
}