@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bangers&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Danfo&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tiny5&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

#container{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#card{
    margin-top: 7.55vh;
    height: 84.9vh;
    width: 50vw;
    background-color: white;
}

#desktop-model{
    height: 85vh;
    margin-top: 8.25vh;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    margin-top: 55px;
    margin-left: 125px;
    margin-bottom: 45px;
}

#we{
    font-size: 64px;
    margin-top: 45px;
    margin-left: 125px; 
    letter-spacing: 15px;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}

#written-content h3{
    font-size: 64px;
    margin-left: 125px;
    margin-right: 50px;
    letter-spacing: 15px;
    font-weight: 600;
    color: hsl(0, 6%, 24%);
}

#para{
    margin-top: 20px;
    margin-left: 125px;
    margin-right: 200px;
    font-size: 16px;
    line-height: 21px;
    color: hsl(0, 93%, 68%);
    font-weight: 500;
}

#mail-input{
    display: flex;
    align-items: center;
}

#mailbox{
    margin-top: 30px;
    margin-left: 125px;
    height: 40px;
    width: 400px;
    border-radius:20px;
    padding-left: 25px;
    font-size: 18px;
}

#pinkbox{
    height: 42px;
    width: 75px;
    padding: 8px;
    background-image: linear-gradient(hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
    margin-top: 28.5px;
    margin-left: -75px;
    border-radius: 20px;
    object-fit: contain;
}

#error-msg{
    color: hsl(0, 93%, 68%);
    margin-top: 15px;
    margin-left: 150px;
}