@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bangers&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Danfo&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tiny5&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "Overpass", sans-serif;
}

#container{
    height: 53vh;
    width: 28vw;
    background-color: hsl(213, 19%, 18%);
    padding: 30px 40px;
    border-radius: 30px;
}

#star-head img{
    height: 40px;
    width: 40px;
    background-color: hsl(214, 15%, 27%);
    padding: 10px 10px;
    border-radius: 50%;
}

#star-head h1{
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

#para p{
    padding-right: 20px;
    line-height: 20px;
    color: hsl(217, 12%, 63%);
    margin-bottom: 25px;
}

.buttons-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;  
}

.buttons
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: hsl(214, 15%, 27%);
    color: hsl(217, 12%, 63%);
    cursor: pointer;
    transition: 0.3s;
    border: none;
    font-weight: 700;
    font-size: 16px;
}

.buttons:hover{
    background-color:hsl(25, 97%, 53%);
    color: hsl(214, 15%, 27%);
}

.buttons:focus{
    background-color: white;
    color: hsl(214, 15%, 27%)
}

#submit{
    height: 40px;
    width: 350px;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    padding: 10px;
    letter-spacing: 7px;
    transition: 0.3s;
    background-color:hsl(25, 97%, 53%);
    cursor: pointer;
}

#submit:hover{
    background-color: white;
}

/* ================================================================================================================================================================================================================================= */

.resultSubDiv{
    height: 53vh;
    width: 28vw;
    background-color: hsl(213, 19%, 18%);
    /* background-color: yellowgreen; */
    padding: 30px 40px;
    border-radius: 30px;
}

.thank-image{
    margin-top: 10px;
    margin-left: 5.9vw;
    margin-bottom: 25px;
}

.rate-para{
    text-align: center;
    color:hsl(25, 97%, 53%);
    background-color:hsl(214, 15%, 27%);
    padding: 5px 25px;
    border-radius: 20px;
    margin-bottom: 25px;
    max-width:max-content;
    margin-left: 71px;
}

.thank-head{
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

.description{
    text-align: center;
    color: hsl(217, 12%, 63%);
    padding: 3px 5px;
}

@media(max-width:426px){
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bangers&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Danfo&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tiny5&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "Overpass", sans-serif;
}

#container{
    height: 60vh;
    width: 90vw;
    background-color: hsl(213, 19%, 18%);
    padding: 30px 40px;
    border-radius: 30px;
}

#star-head img{
    height: 40px;
    width: 40px;
    background-color: hsl(214, 15%, 27%);
    padding: 10px 10px;
    border-radius: 50%;
}

#star-head h1{
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

#para p{
    padding-right: 5px;
    line-height: 20px;
    color: hsl(217, 12%, 63%);
    margin-bottom: 25px;
}

.buttons-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;  
}

.buttons
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: hsl(214, 15%, 27%);
    color: hsl(217, 12%, 63%);
    cursor: pointer;
    transition: 0.3s;
    border: none;
    font-weight: 700;
    font-size: 16px;
}

.buttons:hover{
    background-color:hsl(25, 97%, 53%);
    color: hsl(214, 15%, 27%);
}

.buttons:focus{
    background-color: white;
    color: hsl(214, 15%, 27%)
}

#submit{
    height: 40px;
    width: 350px;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    padding: 10px;
    letter-spacing: 7px;
    transition: 0.3s;
    background-color:hsl(25, 97%, 53%);
    cursor: pointer;
    margin-left: -25px;
}

#submit:hover{
    background-color: white;
}

/* ================================================================================================================================================================================================================================= */

.resultSubDiv{
    height: 60vh;
    width: 90vw;
    background-color: hsl(213, 19%, 18%);
    /* background-color: yellowgreen; */
    padding: 30px 40px;
    border-radius: 30px;
}

.thank-image{
    margin-top: 10px;
    margin-left: 15.5vw;
    margin-bottom: 25px;
}

.rate-para{
    text-align: center;
    color:hsl(25, 97%, 53%);
    background-color:hsl(214, 15%, 27%);
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 25px;
    max-width:max-content;
    margin-left: 68px;
}

.thank-head{
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

.description{
    text-align: center;
    color: hsl(217, 12%, 63%);
    padding: 3px 5px;
}
}