@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bangers&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Danfo&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tiny5&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
}

#container{
    height: 150vh;
    width: 100vw;
    background-color: white; 
    /* background-color: black; */
}

#logo img{
    margin-top: 10vh;
    margin-left: 48vw;
    margin-bottom: 5vh;
}

#launch{
    text-align: center;
    font-size: 20px;
}

#launch-p{
    font-size: 42px;
    font-weight: 100;
    color: hsl(0, 0%, 59%);
    font-weight: 400;    
}

#launch span{
    font-weight: 900;
    color: hsl(209, 33%, 12%)
}

#subs{
    margin-top: 25px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

#notify{
    margin-top: 50px;
    text-align: center;
}

#notify input{
    margin-right: 55px;
    height: 55px;
    width: 350px;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: none;
    outline: none;
}

#notify button{
    height: 55px;
    width: 200px;
    border-radius: 50px; 
    background-color: hsl(223, 87%, 63%);
    color: white;
    font-size: 18px;
    text-decoration: none;
    border: none;
    box-shadow: 2px 6px gainsboro;
}

#mail{
    padding-left: 30px;
    font-size: 18px;
    font-weight: 100;
    opacity: 70%;
    text-decoration: none;
    border-color: hsl(223, 100%, 88%);
    box-shadow: none;
    outline: none;
}

#dashboard{
    margin-top: 75px;
    margin-left: 430px;    
    height: 400px;
}

#social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
}

#social-media img{
    margin-right: 30px;
    height: 35px;
}

#copyright{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 20px;
    color: hsl(0, 0%, 59%);
    opacity: 80%;
}

@media(max-width:426px)
{
    #logo img{
    margin-top: 10vh;
    margin-left: 44vw;
    margin-bottom: 5vh;
    }

    #launch-p{
    font-size: 30px;
    font-weight: 100;
    color: hsl(0, 0%, 59%);
    font-weight: 400;    
    }

    #subs{
    margin-top: 25px;
    margin-left: 18px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    }

    #notify input{
        margin-right: 55px;
        margin-left: 35px;
        margin-bottom: 45px;
        height: 55px;
        width: 375px;
        border-radius: 50px;
        text-decoration: none;
        box-shadow: none;
        outline: none;
    }

    #notify button{
    height: 55px;
    width: 375px;
    margin-left: 20px;
    border-radius: 50px; 
    background-color: hsl(223, 87%, 63%);
    color: white;
    font-size: 18px;
    text-decoration: none;
    border: none;
    box-shadow: 2px 6px gainsboro;
    }

    #dashboard{
    margin-top: 70px;
    margin-left: 40px;    
    height: 225px;
    }

    #social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 65px;
    }

    #copyright{
    text-align: center;
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 70px;
    font-size: 20px;
    color: hsl(0, 0%, 59%);
    opacity: 80%;   
    }
}